html {
  background-color: black;
}

a,
p,
h1,
h2 {
  color: white;
}

.LoginLogo {
  font-size: 48px;
  font-style: italic;
  font-weight: bolder;
  left: 250px;
  line-height: 48px;
  margin: 0;
  max-height: 100vh;
  position: relative;
  top: 350px;
}

.LoginWrapper {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 320px;
  margin: auto;
  max-width: 350px;
  max-height: 100vh;
  padding: 25px;
  position: relative;
  top: 150px;
  
}

.FormElement {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormElement input {
  appearance: none;
  background-color: black;
  border: 1px solid white;
  font-size: 12px;
  font-weight: 600;
  max-width: 300px;
  padding: 8px;
}

.FormElement label {
  color: white;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 32px;
}

.ButtonWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
}

.Button {
  appearance: none;
  background: white;
  border: none;
  font-size: 12px;
  font-weight: 800;
  padding: 8px 4px;
  width: 200px;
}

.BoldLoginText {
  font-size: 12px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 12px;
}

.BoldLoginText a {
  color: gray;
}

input[type="email"] {
  color: white;
}

input[type="password"] {
  color: white;
}

input[type="text"] {
  color: white;
}
