html {
  background-color: black;
}

a,
p,
h1,
h2 {
  color: white;
}

.PageWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 25px;
}

.LoginLogo {
  font-size: 48px;
  font-style: italic;
  font-weight: bolder;
  left: 250px;
  line-height: 48px;
  margin: 0;
  max-height: 100vh;
  position: relative;
  top: 350px;
}

.LoginWrapper {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 320px;
  margin: auto;
  max-width: 350px;
  max-height: 100vh;
  padding: 25px;
  position: relative;
  top: 150px;
}

.FormElement {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.FormElement input {
  appearance: none;
  background-color: black;
  border: 1px solid white;
  font-size: 12px;
  font-weight: 600;
  max-width: 300px;
  padding: 8px;
}

.FormElement label {
  color: white;
  font-size: 10px;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 32px;
}

.ButtonWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 32px;
  width: 100%;
}

.Button {
  appearance: none;
  background: white;
  border: none;
  font-size: 12px;
  font-weight: 800;
  padding: 8px 4px;
  width: 100px;
}

.Button a {
  color: black;
  text-decoration: none;
}

.BoldLoginText {
  font-size: 12px;
  font-weight: 800;
  margin: 0;
  margin-bottom: 12px;
}

.BoldLoginText a {
  color: gray;
}

.Header {
  border-bottom: 1px solid gray;
  display: flex;
  padding: 20px 25px;
}

.Header .Logo {
  flex-shrink: 0;
  font-size: 16px;
  font-weight: bolder;
  line-height: 16px;
  margin: auto;
  text-decoration: none;
}

.Header .Logo a {
  text-decoration: none;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1080px;
  width: 100%;
}

nav p {
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: normal;
  margin: 0 40px 0 0;
}

nav p a {
  text-decoration: none;
}

.TextPostWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.TextPost {
  border: 1px solid gray;
  margin-bottom: 40px;
  max-width: 1080px;
  min-height: 200px;
  width: 100%;
}

.TextPost p {
  margin-left: 30px;
  margin-top: 30px;
}

input[type="email"] {
  color: white;
}

input[type="password"] {
  color: white;
}

input[type="text"] {
  color: white;
}
